@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* for entire page */

:root{
    --primary-color:#10b948;
}




body{
    font-family: 'Source Sans Pro', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

/* container */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width:600px;
    margin: auto;
    /* margin auto for center */
}


/* links */

/* look into BEM naming connection for css */

.link{
    text-decoration: none;
    padding: 0rem 1rem;
    /* padding moves from top right bottom left */
}

.link-primary{
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding: 0rem 0.5rem;
}


